@import '_mainHeader';


html {
  font-family: 'Ubuntu', sans-serif;
  @include fontSize($baseFontSize);

  * {
    @include box-sizing(border-box);
  }

  main {
    display: block;
    padding: calculateRem(15px);
  }
}